<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="naverBoard">
    <select id="findById" parameterType="Long" resultType="member">
        select * from member_table where id = #{memberId}
    </select>
    <insert id="saveBoard" parameterType="board" useGeneratedKeys="true" keyProperty="id">
        insert into board_table(boardTitle,boardWriter,boardContents,fileAttached,memberId)
            value (#{boardTitle},#{boardWriter},#{boardContents},#{fileAttached},#{memberId})
    </insert>
    <select id="bestBoardList" parameterType="page" resultType="board">
        select * from board_table order by boardHits desc limit #{pageStart},#{pageLimit}
    </select>
    <select id="qnaBoardList" parameterType="page" resultType="board">
        select * from board_table order by boardCreatedDate desc limit #{pageStart},#{pageLimit}
    </select>
    <select id="qnaSearchBoardList" parameterType="page" resultType="board">
        select *
        from board_table
        where boardContents like concat('%', #{q}, '%') or boardTitle like concat('%', #{q}, '%')
        order by id desc limit #{pageStart}, #{pageLimit}
    </select>
    <select id="BoardCount" resultType="Integer">
        select count(id) from board_table
    </select>
    <select id="BoardSearchCount" parameterType="page" resultType="Integer">
        select count(id)
        from board_table
        where boardContents like concat('%', #{q}, '%')
           or boardTitle like concat('%', #{q}, '%')
    </select>
    <select id="findByBoard" parameterType="Long" resultType="board">
        select * from board_table where id = #{boardId}
    </select>
    <update id="boardHitsUp" parameterType="Long">
        update board_table set boardHits = boardHits+1 where id = #{boardId};
    </update>
    <update id="boardAnswerUp" parameterType="Long">
        update board_table set boardAnswer = boardAnswer+1 where id = #{boardId}
    </update>
    <insert id="boardAnswerSave" parameterType="answer">
        insert into answer_table(boardId, memberId, answerWriter, answerContents, fileAttached)
            value (#{boardId},#{memberId},#{answerWriter},#{answerContents},#{fileAttached})
    </insert>
    <select id="findByAnswerList" parameterType="answer" resultType="answer">
        select * from answer_table where boardId = #{boardId}
    </select>
    <select id="findByFirst" resultType="board">
        select * from board_table where boardCreatedDate >= DATE (now()) order by boardCreatedDate asc limit 1
    </select>
</mapper>