<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="naverMember">
    <insert id="saveMember" parameterType="member">
        insert into member_table(memberEmail,memberDomain,memberPassword,memberName,memberBirthday,memberGender,memberPoint)
            value (#{memberEmail},#{memberDomain},#{memberPassword},#{memberName},#{memberBirthday},#{memberGender},#{memberPoint})
    </insert>
    <select id="emailCheck" parameterType="String" resultType="String">
        select memberEmail from member_table where memberEmail = #{memberEmail}
    </select>
    <select id="loginMember" parameterType="member" resultType="member">
        select * from member_table where (memberEmail = #{memberEmail} and memberPassword = #{memberPassword}) or (memberDomain = #{memberEmail} and memberPassword = #{memberPassword})
    </select>
</mapper>